body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
#pink_block{
    min-width: 100%;
    height: 15vh;
    background-color: pink;  
}

#head_text{
    height: 5vh;
}

.text_head{
    margin: 0;
    text-align: center;
}

#head_blocks{
    display: flex;
    justify-content: center;
}

#white_block{
    height: 6vh;
    min-width: 60vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#black_block{
    height: 50%;
    width: 60%;
    margin: auto;
    background-color: black;
}

.wrapper{
    background-color: grey;
    min-height: 5vh;
    min-width: 100%;
  
}

#squares{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
#square1{
    width: 25%;
    height: 100%;
    background-color: red;
}

#square2{
    width: 25%;
    height: 100%;
    background-color: orange;
}

#square3{
    width: 25%;
    height: 100%;
    background-color: aqua;
}

#square4{
    width: 25%;
    height: 100%;
    background-color: yellow;
}

#third_block{
    display: flex;
    width:100%;
    height: 40vh;
}

#left_block{
    width: 100%;
    height: 40vh;
    background-color:green;
}

#left_text{
    
    height: 5vh;
}

#up_block{
    width: 60%;
    height: 59%;
    background-color: orange;
    margin: auto;
}

#upper #left{
    text-align: center;
}

#down{
    display: flex;
    height: 100%;
}
#under_block1{
    height: 90%;
    width: 50%;
    background-color: pink;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#under_block2{
    height: 90%;
    width: 50%;
    background-color: yellow;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#center_block{
    width: 100%;
    background-color: aqua;  
}

#center_text {
    height: 7vh;
}

#left_side{
    height: 100%;
    width: 33.33%;
    background-color: red;
}

#center_side{
    width: 33.33%;
    height: 100%;
    background-color: yellow; 
}

#main_blocks{
    width: 100%;
    height: 100%;
    display: flex;
}

#daughter_blocks{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: end;
}

#first_orange{
    width: 50%;
    height: 90%;
    background-color: orange;
}

#second_red{
    display: flex;
    height: 60%;
    width: 50%;
    background-color: red;
}

#text2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#right_side{
    height: 100%;
    width: 33.33%;
    background-color: orange;
}

#right_block{
    width: 100%;
    background-color: blue;
}

#right_text{
    text-align: center;
    height: 5vh;
}

#color_blocks{
    width: 100%;
    height: 80%;
    display: flex;
}

#aqua_square{
    width: 33.33%;
    height: 100%;
}

#first_aqua{
    width: 100%;
    height: 60%;
} 

#second_aqua{
    width: 100%;
    height: 30%;
    background-color: aqua;
}

#third_aqua{
    width: 100%;
    height: 10%;
}

#yellow_square{
    width: 33.33%;
    height: 100%;
}

#first_yellow{
    width: 100%;
    height: 45%;
}

#second_yellow{
    width: 100%;
    height: 30%;
    background-color: yellow;
}

#third_yellow{
    width: 100%;
    height: 25%;
}

#orange_square{
    width: 33.33%;
    height: 100%;
}

#first_orange1{
    width: 100%;
    height: 30%;
}

#orange_blocks{
    height: 30%;
    width: 100%;
    display: flex;
}

#second_orange{
    width: 50%;
    height: 100%;
    background-color: orange;
}

.bg_text{
    background-color: black;
    color: aqua;
    text-align: center;
}

#second_orange2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-color: orange;
}

#second_div{
    width: 100%;
}

#third_orange{
    width: 100%;
    height: 40%;
}

#fourth_block{
    display: flex;
}

#basement{
    height: 20vh;
    width: 100%;
    background-color: black; 
}

#basement_text{
    text-align: center;
    color: white;
    margin: 0;
}

